.modal-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--primary-title-color);
}

.user-data {
    margin-bottom: 20px;
}

.user-data__label {
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
            margin-bottom: 10px;
        }

    &:focus-within {
    fill: var(--accent-text-color);
    }
}

.user-data__text {
    margin-bottom: 4px;
}

.user-data__input {
    height: 40px;
    width: 100%;
    padding: 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    border: 1px solid var(--accent-text-color);
    }
}

.user-data__icon {
    position: absolute;
    top: 50%;
    left: 12px;
}

.user-data__coments {
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    border: 1px solid var(--accent-text-color);
    }
}

.check__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked+.check__box {
    background-image: url(../images/Vector.svg);
    
    border-color: #188ce8;
    background-color: #188ce8;
    }
    
    &:focus+.check__box {
    border-color: #188ce8;
    }
}

.check__text {
    color: var(--accent-text-color);
    text-decoration-line: underline;
}

.check__box {
    /* display: flex; */
    content: '';
    margin-right: 7px;
    width: 16px;
    height: 15px;

    border: 2px solid #2a2a2a;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 10px 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    cursor: pointer;
}