:root {
    /* первичный цвет текста */
    --primary-text-color: #757575;
    /* первичный цвет заголовка */
    --primary-title-color: #212121;
    --accent-text-color: #2196f3;
    /* первичный цвет фона */
    --primary-background-color: #f5f5f5;
    /* вторичный цвет фона */
    --secondary-background-color: #f5f4fa;
    --white-color: #ffffff;
    --primari-icons-color: #afb1b8;
}